@font-face{
  font-family:'FuturaStd-Heavy';
  src: url('../fonts/FuturaStd-Heavy.otf'); /* everyone else take this */
}
@font-face{font-family:Colaborate-Regular;src:local('../fonts/Colaborate-Regular'),url(../fonts/Colaborate-Regular.woff) format('woff');font-weight:400;font-style:normal}
@font-face{font-family:Colaborate-Medium;src:local('../fonts/Colaborate-Medium'),url(../fonts/Colaborate-Medium.woff) format('woff');font-weight:500;font-style:normal}
@font-face{font-family:FuturaStd-Book;src:local('../fonts/FuturaStd-Book'),url(../fonts/FuturaStd-Book.woff) format('woff');font-weight:400;font-style:normal}
@font-face{font-family:FuturaStd-Medium;src:local('../fonts/FuturaStd-Medium'),url(../fonts/FuturaStd-Medium.woff) format('woff');font-weight:400;font-style:normal}
@font-face{font-family:FuturaStd-Bold;src:local('../fonts/FuturaStd-Bold'),url(../fonts/FuturaStd-Bold.woff) format('woff');font-weight:400;font-style:normal}
@font-face{font-family:Montserrat-Regular;src:local('../fonts/Montserrat-Regular'),url(../fonts/Montserrat-Regular.woff) format('woff');font-weight:400;font-style:normal}
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
.sectionWithoutPadding {
  padding: 0px !important;
}
.recipes-arrow {
  right: 35px !important;
  top: 50%;

}
.verticalHouse {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: flex-start !important;
  height: 474px !important;
  margin-left: 10%;
  width: 80%;
}
.read_more_btn {
  background-color: transparent;
  border: 3px solid #fff;
  border-radius: 0;
  font-family: Montserrat-Regular;
  text-decoration: none;
  color: white;
  text-align: center;
  margin-top: 2%;
}
.marginCustomTop {
    margin-bottom: -10px !important;
    margin-top: 12px;
}
.marginCustomTop > .select {
  height: 77px !important;
}
.read_more_btn:hover {
  background-color: transparent;
  border: 3px solid #fff;
  border-radius: 0;
  font-family: Montserrat-Regular;
  text-decoration: none;
  color: white;
  text-align: center;
}
.sub_head {
  font-size: 36px;
  font-family: Colaborate-Medium;
  margin-top: 20px;
}
.banner_text {
  color: white !important;
}
.up {
  z-index: 4;
}
.fixedChanged {
  height: 77px;
}

.hiddeOnWeb {
  display: none !important;
}

.addTopPaddding {
  padding: 137px 0 50px !important;
}
.select{height:87px;border-bottom:4px solid #f7c42a}
.show {
  display: none;
}
.margin-left-one {
  margin-left: 27px;
}

.selectChange {
    height: 87px !important;
}
.carousel-caption {
  display: flex;
  flex-direction: row;
  height: 479px;
  align-items: center;
}
.closeImageStyle:focus {
  outline: none;
}
.pointer {
  cursor: pointer;
}
button.close:focus {
  outline: none;
}
.name-receipt {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.close {
  z-index: 1;
}
.backdrop {
  top: 0;
  bottom: 0;
  height: 479px;
  left: 0;
  position: absolute;
  right: 0;
  background-color: rgba(0,0,0,0);
  background-image: -webkit-linear-gradient(top,rgba(0,0,0,.2) 100%, rgba(0,0,0,0) 0%);
}
.imagesData {
  width: 100% !important;
  height: 500px !important;
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-size: 100%;
}
.parallaxEffect {
  width: 100% !important;
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-size: 100%;
}
.space-group {
  margin-left: 10px;
  margin-right: 10px;
}
.horizontal-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.custom-message {
  width: 337px;
  text-align: center;
  font-size: 17px;
  font-family: FuturaStd-Book;
  color: #9b9b9b;
}
.textarea-group {
  width: 540px !important;
}
.group {
  width: 261px;
  font-family: FuturaStd-Book;
  font-size: 17px;
  position:relative;
  margin-bottom:22px;
}

.custom-top {
  top: 31px !important;
}
.add-another-margin-bottom {
  margin-bottom: 19px !important;
}
.add-another-margin-bottom-one {
  margin-bottom: 34px !important;
}
.add-another-margin-bottom-final {
  margin-bottom: 109px !important;
}

.add-margin-bottom {
  margin-bottom: 22px !important;
}

input,textarea 				{
  font-size:18px;
  margin: 11px 0px 0px 0px !important;
  display:block;
  width:100%;
  border:none;
  padding-top: 16px;
  border-bottom:1px solid #e5e5e5;
}
input:focus,textarea:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#9b9b9b;
  font-family: FuturaStd-Book;
  font-size: 17px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  margin-left: -6px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
textarea {
  margin: 16px 0px 0px 0px !important;
}
textarea:focus ~ label.custom-top, textarea:valid ~ label.custom-top{
  top:-10px !important;
}
input:focus ~ label, input:valid ~ label, textarea:focus ~ label, textarea:valid ~ label{
  top:-10px;
  font-size:14px;
  font-family: FuturaStd-Book;
  color:#ed7161;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:100%; }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#ed7161;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after,textarea:focus ~ .bar:before, textarea:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}
textarea {
  resize: none;
}
/* active state */
input:focus ~ .highlight, textarea:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#ed7161; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#ed7161; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#ed7161; }
  to 	{ width:0; background:transparent; }
}
.contact {
  font-size: 30px !important;
  color: #4a4a4a;
  margin-bottom: 100px;
  font-family: FuturaStd-Medium;
}
.last-bg-image {
  padding-top: 61px !important;
  padding-bottom: 53px !important;
  background-image:url('../img/bg-img/apple-bg-img.png');background-size:cover;
  color: white !important;
}
.special-caption {
  margin-top: 19px !important;
}
.last-recipes {
  padding-top: 89px !important;
  padding-bottom: 66px !important;
}
.read_more_btn {
  width: 158px !important;
  height: 45px !important;
  font-family: Montserrat-Regular !important;
  font-size: 15px !important;
  padding: 7px 0px !important;
}
.item > .carousel-caption > .banner_text, .banner_text{
  font-size: 49px !important;
  line-height: 52px !important;
  margin:4px 0;
  color:#fff;
  font-family:FuturaStd-Medium;
}

.item > .carousel-caption > .sub_head{
  font-size: 30px !important;
  line-height: 25px !important;
  font-family: Colaborate-Regular !important;
}
.blogspot-row {
  margin-top: 78px !important;
  margin-bottom: 96px !important;
}
.line-height {
  line-height: 19px;
  margin-top: 14px;
  margin-bottom: 62px;
}
.margin-top-button {
    margin-top: 43px;
}
.margin-bottom-middle {
  margin-top: 36px;
}
.blog_img {
    margin-left: 13.8px;
    margin-right: 13.8px;
}

.last-width {
  width: 383px !important;
  font-size: 21px !important;
  line-height: 19px;
  padding-bottom: 51px;
}
.service-box {
  margin-left: 16.2px !important;
  margin-right: 16.2px !important;
  width: 147px;
}
.custom-height {
  margin-top: 20px;
}
.special-width {
  width: 168px !important;
}
.custom-height-two {
  margin-top: 6px;
}

.sr-icons {
  margin-bottom: 15px;
}
.carousel-inner {
  height: 479px;
}
.small-images {
  padding-top: 112px !important;
}
.last-title {
  color: white !important;
  padding-bottom: 11px;
}
.separator {
  width: 845px !important;
  border-top: 1px solid #e5e5e5;
}
.blog-img {
  width: 182px !important;
  height: 182px !important;
  background-size: cover !important;
}
.spacing {
  margin-top: 74px;
}
.image-recipe {
  width: 366px !important;
  height: 264px !important;
}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.sub-header {
  font-family: Colaborate-Regular;
  font-size: 18px;
  width: 400px;
  margin-top: 9px !important;
}
.titleHome {
  font-family: FuturaStd-Bold;
  font-size: 23px;
  font-weight: bold;
  color: #4a4a4a;
}
.titleHome-testimonials {
  font-family: FuturaStd-Medium;
  font-size: 23px;
  color: #4a4a4a;
}
.flex_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.gray-background {
  background: #f5f5f5;
  padding-top: 48px !important;
  padding-bottom: 80px !important;
}
.client {
  width: 250px;
  margin-left: 13.5px;
  height: 243px;
  margin-right: 13.5px;
}
.service_text {
  font-family: FuturaStd-Medium;
  font-size: 18px;
  color: #9b9b9b;
}
.carousel-control .glyph_right {
  left: -70px;
  top: 210px !important;
}
.one{
  width: 36.8px;
}
.two{
  width: 35.2px;
}
.three{
  width: 30px;
}
.four{
  width: 31px;
}
.serviceContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 82px auto 0 auto;
  align-items: flex-start;
}
.margin-top-custom {
  margin-bottom: 44px !important;
}
.removeBottom {
  padding: 81px 0 81px!important;
}
.square > img{
  padding-right: 69px;
  padding-left: 37px;
}
.gray-container {
  background: #f5f5f5;
  width: 100%;
  text-align: center;
  padding-top: 41px;
}
.square > div{
  text-align: center;
}
.package-container {
  display: flex;
  align-items: baseline;
  margin-bottom: 53px;
  flex-direction: row;
  justify-content: center;
}
.buttonRecipe {
  width: 168px;
  height: 54px;
  background-color: #ed7161;
  border: 0px;
  font-family: Montserrat-Regular;
  font-size: 15px;
  color: white;
}
.addMarginBottom {
  margin-bottom: 64px;
}
.buttonRecipe:focus {
  outline: none;
}
.package {
  width: 287px;
  display: flex;
  flex-direction: column;
}
.mini-square {
  margin-top: 20px;
  border: solid 1px #e5e5e5;
  width: 256px;
  height: 127px;
  padding-top: 32px;
  background: white;
}
.mini-square > p{
  font-size: 17px;
  font-family: FuturaStd-Book;
}
.bold {
  font-size: 16px !important;
  font-family: FuturaStd-Bold !important;
  line-height: 16px;
  padding-left: 28px;
  padding-right: 22px;
}
.minifont {
  font-size: 16px !important;
  font-family: FuturaStd-Medium !important;
  line-height: 1px;
}
.amount {
  padding-top: 8px;
}
.special-amount {
  padding-top: 3px !important;
}
.column {
  flex-direction: column !important;
  border: solid 1px #e5e5e5;
  padding-left: 50px;
  height: 275px !important;
  padding-top: 27px !important;
  padding-bottom: 40px !important;
}
.removeTop {
  margin-top: 28px !important;
}
.list > img {
  padding-right: 10px;
}
.list > p {
  text-align: left;
  line-height: 15px;
  width: 286px;
  font-family: FuturaStd-Book;
  font-size: 14px;
}
.list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 90%;
}
.listSpecial > .list{
  width: 98% !important;
  margin-bottom: 46px;
}
.listSpecial > .list > p{
  width: 88% !important;
}
.listSpecial {
  padding-left: 18px !important;
  margin-top: 28px;
}
.title-offert {
  font-family: FuturaStd-Bold;
  font-size: 17px;
  color: white;
}
.title-small-offert {
  font-family: FuturaStd-Book;
  font-size: 17px;
  color: white;
}
.square {
  align-items: flex-start;
  width: 450px;
  height: 127px;
  display: flex;
  flex-direction: row;
  padding-top: 43px;
  padding-bottom: 35px;
}
.color-one {
  background: #ed7161;
  margin-right: 27px;
}
.margin-right-one {
  margin-right: 27px;
}
.color-two {
  background: #f5b262;
  margin-left: 27px;
}
.parallax {
    /* The image used */
    background-image: url("../img/bg-img/about.png");

    /* Set a specific height */
    min-height: 199px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.stronger {
  font-family: FuturaStd-Bold;
}
.rowBgColor {
  background: #f5f5f5;
  margin: 0px !important;
}
.font-Size {
  font-size: 18px;
}
.second {
  padding-top: 54px;
  padding-left: 44px;
}
.avatar {
  width: 172px;
  height: 172px;
}
.paddingBottom {
  padding-bottom: 25px;
}
.principalTitle {
  line-height: 2px;
  font-size: 18px;
  font-family: FuturaStd-Bold;
  padding-bottom: 70px;
}
.caption-one {
  width: 56px;
  padding-top: 36px;
  float: right;
  padding-right: 2px;
}
.caption-two {
  width: 56px;
  margin-top: -45px;
  float: right;
}
.lastSection {
  display: flex;
  margin: 0px auto 0px auto;
  width: 912px;
  padding-bottom: 52px;
  align-items: flex-end;
  flex-direction: column;
}
.mainTitle {
  font-size: 30px;
  position: absolute;
  text-align: center;
  font-family: FuturaStd-Bold;
  width: 100%;
  margin-top: -121px;
  color: white;
}
.sectionTwo {
  display: flex;
  line-height: 17px;
  margin: 0px auto 0px auto;
  font-size: 17px;
  width: 800px;
  font-family: FuturaStd-Medium;
  color: #4a4a4a;
  padding-top: 59px;
  padding-left: 27px;
  padding-right: 0px;
  padding-bottom: 33px;
}
.parallaxContain {
  line-height: 16px;
  margin: -46px auto 0px auto;
  border: solid 1px #e5e5e5;
  background: white;
  font-size: 16px;
  width: 787px;
  font-family: FuturaStd-Medium;
  color: #4a4a4a;
  padding-top: 41px;
  padding-left: 121px;
  padding-right: 121px;
  padding-bottom: 33px;
}
.smallIcon{padding-right: 10px;}
.modal-lg {width: 871px; !important}
.recipe-content {
    border-radius: 0px !important;
    box-shadow: none !important;
    padding: 0px !important;
    border: none;
}
.modal-header {
    padding: 0px !important;
    border-bottom: 0px !important;
}
img.glyph_l.pointer.slick-arrow {
  position: absolute;
  top: 45%;
  width: 40px;
  height: 40px;
  right: 10%;
}
.recipeContent {
  display: flex !important;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}
.cerryLogo {
  position: absolute;
  left: 0;
  right: 0;
  top: -72px;
}
.recipeDescription {
  width: 46%;
}
.close {
    font-size: 60px;
    font-stretch: semi-condensed;
    font-family: -webkit-body;
    position: absolute !important;
    right: 24px;
    top: 20px;
    color: #ed7161;
    text-shadow: transparent;
    opacity: 1 !important;
    text-shadow: 1px 1px 1px #fff !important;
}
.close:hover {
  color: #ed7161;
}
.menuActive {
  background: #ed7161;
  color: white !important;
}
.button {
  color: #4a4a4a;
  text-decoration: none;
}
.video-content {
  background-color: transparent;
  box-shadow: none;
  border: none;
  height: 100%;
}
.modal-video {
  width: 80%;
  height: 100%;
}
.arrow {
  background-size: 100% 220px;
}
.button:hover {
  text-decoration: none !important;
}
.description {
  padding-left: 41px;
  font-size: 16px;
  flex-direction: row;
  display: flex;
  font-family: Montserrat-Regular;
  text-align: left;
  padding-right: 100px;
  justify-content: space-around;
  height: 250px;
}
.description > div > img {
  padding-left: 19px;
  padding-top: 50px;
}
.recipeContent > .recipt{
  width: 539px !important;
  height: 519px !important;
}
.horizontalRuler {
  width: 100%;
  height: 1px;
  position: absolute;
  background: cyan;
  z-index: 100000;
  top: 7px;
  display: none;
}
.horizontalRulerChange {
  width: 100%;
  height: 1px;
  display: none;
  position: absolute;
  background: cyan;
  z-index: 100000;
  top: 7px;
}
.logo_img {
  width: 244px !important;
  margin-top: 100px;
}
.logo_img_secondary {
  width: 170px;
}
.custom-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 107px;
}
.center_container {
  margin-top: -28px;
}
.left_container {
  width: 270px;
  display: flex;
  padding-top: 34px !important;
}
.right_container {
  margin-left: 105.5px;
  padding-top: 9px;
}
body{margin:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}
a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,optgroup,strong{font-weight:700}dfn{font-style:italic}h1{margin:.67em 0}mark{background:#ff0;color:#000}
.carousel-inner,.cover{background-size:cover}.arrow,.recipt{background-repeat:no-repeat}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}pre,textarea{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend,td,th{padding:0}legend{border:0}table{border-collapse:collapse;border-spacing:0}
@-ms-viewport{width:device-width}
.visible-lg-block,.visible-lg-inline,.visible-lg-inline-block,.visible-md-block,.visible-md-inline,.visible-md-inline-block,.visible-sm-block,.visible-sm-inline,.visible-sm-inline-block,.visible-xs-block,.visible-xs-inline,.visible-xs-inline-block{display:none!important}@media (max-width:$screen-xs-max){.visible-xs-block{display:block!important}.visible-xs-inline{display:inline!important}.visible-xs-inline-block{display:inline-block!important}}@media (min-width:$screen-sm-min) and (max-width:$screen-sm-max){.visible-sm-block{display:block!important}.visible-sm-inline{display:inline!important}.visible-sm-inline-block{display:inline-block!important}}@media (min-width:$screen-md-min) and (max-width:$screen-md-max){.visible-md-block{display:block!important}.visible-md-inline{display:inline!important}.visible-md-inline-block{display:inline-block!important}}
@media (min-width:$screen-lg-min){
  .visible-lg-block{display:block!important}.visible-lg-inline{display:inline!important}.visible-lg-inline-block{display:inline-block!important}}.visible-print-block{display:none!important}@media print{.visible-print-block{display:block!important}}.visible-print-inline{display:none!important}@media print{.visible-print-inline{display:inline!important}}.visible-print-inline-block{display:none!important}@media print{.visible-print-inline-block{display:inline-block!important}}.center-block{margin-left:auto;margin-right:auto}.pull-right{float:right!important}.pull-left{float:left!important}.hide{display:none!important}.show{display:block!important}.invisible{visibility:hidden}.hidden{display:none!important}.affix{position:fixed}.embed-responsive{position:relative;display:block;height:0;padding:0;overflow:hidden}.carousel-indicators,.navbar-toggle{display:none}.embed-responsive .embed-responsive-item,.embed-responsive embed,.embed-responsive iframe,.embed-responsive object,.embed-responsive video{position:absolute;top:0;left:0;bottom:0;height:100%;width:100%;border:0}.embed-responsive-16by9{padding-bottom:56.25%}.embed-responsive-4by3{padding-bottom:75%}.cover{background-position:center}.simple-parallax{background-attachment:fixed}*{box-sizing:border-box}html{font-size:16px}
@media screen and (max-width:768px){
  html{font-size:14px}
}@media screen and (max-width:480px){html{font-size:12px}}#page{margin:0;overflow-x:hidden;padding:0}
.myconatiner{margin:0 auto}
.carousel-inner .img-align{width:100%}
.carousel-inner .carousel-caption{text-align:left;text-shadow:0 0 0!important;right:0;left:10%;}
.carousel-inner .carousel-caption .sub_head{font-size:42px;margin-bottom:30px;font-family:FuturaStd-Medium;margin-top:18px}
.carousel-inner .carousel-caption .read_more_btn{background-color:transparent;border:3px solid #fff;border-radius:0;font-family:Montserrat-Regular}
.carousel-inner .carousel-caption .read_more_btn:hover,.navbar{background-color:#ed7161}
.carousel-control{opacity:1;left: none !important;}
.carousel-control .glyphicon{position:relative;top:315px}
.carousel-control .glyphicon .glyph_l{width:40px;height:40px}
.carousel-control.left,
.carousel-control.right{background-image:none!important;filter:none!important}
.nav_container{width:auto;font-family:Montserrat-Regular}
.name-clip,.name-receipt,.title{font-family:FuturaStd-Heavy}
.navbar{border:0!important;border-radius:0}.navbar .navbar-header{position:absolute;left:0;bottom:65px;right:0;margin:0 auto;float:none}.navbar .navbar-header .navbar-brand{padding:0;float:none}.navbar .navbar-header .navbar-brand img{margin:0 auto}
.navbar .navbar-nav{width:100%;text-align:center;height: 87px; !important}
.navbar .navbar-nav li{float:none;display:inline-block}

@media only screen and (max-width:767px){
  .navbar-toggle{display:block}
  .navbar .navbar-header{position:unset}
  .navbar .navbar-header .navbar-brand{height:auto;padding:0}
  .navbar .navbar-header .navbar-toggle{
    float: right;
    padding: 17px 10px;
    margin-right: 26px;
    color: white;
    background: #ED7161;
    border-color: none !important;
    margin-top: -10px;
  }
  .navbar .navbar-header .navbar-toggle:hover{
    float: right;
    padding: 17px 10px;
    margin-right: 26px;
    color: white;
    background: #ED7161;
    border-color: none !important;
    margin-top: -10px;
  }
  .navbar-default .navbar-toggle {border-color: transparent;}
  .navbar .navbar-nav{margin:0;text-align:left}
  .navbar .navbar-nav li{display:block;padding:0;padding-right: 45px;}
  .navbar .navbar-nav li a{padding:10px}
  .navbar .collapse.navbar-collapse{margin-top:0}
  .carousel-control .glyphicon{position:relative;top:100px}
  .carousel-control .glyphicon .glyph_l{width:32px;height:28px}
  .carousel-control .glyph_left{left:0}
  .carousel-control .glyph_right{left:-58px}.carousel-inner .read_more_btn{border:2px solid #fff!important}.carousel-caption.header-content-inner{width:80%}
  .navbar .navbar-header .navbar-toggle {

  }
}

@media only screen and (min-width:768px) and (max-width:780px){
  .navbar-toggle{display:none}
  .navbar .navbar-nav li a{font-size:17px;padding: 24px 12px!important;}
}
@media only screen and (min-width:468px) and (max-width:769px){
  .carousel-inner .carousel-caption{right:0;}
  .carousel-inner .carousel-caption .sub_head{font-size:18px;margin:8px 0}
  .carousel-inner .carousel-caption .read_more_btn{padding:6px;font-size:13px}
}

@media only screen and (min-width:1280px) and (max-width:1370px){
  .carousel-inner .carousel-caption{left:12%}
  .carousel-inner .carousel-caption .sub_head{font-size:36px}
  .carousel-inner .carousel-caption .read_more_btn{font-size:18px}
  .carousel-control .glyphicon{position:relative;top:308px}}
  .navbar-header{position:absolute;left:0!important;right:0!important;margin:25px auto 0!important;bottom:0!important;float:none!important;top:6px!important}
.video-thumb,.wrap{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-pack:justify;justify-content:center}
.title{
  font-size:22px!important;color:#4a4a4a;margin-bottom:53px;
  font-family: FuturaStd-Medium;
  margin-top: 2px;
}
.mobilLogoAdjust {
  top: -70px;
}
.navbar .navbar-header .navbar-brand img{
  width:173px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 1;
}.navbar .navbar .collapse.navbar-collapse{margin-top:0!important}
.navbar-nav > li > a {
  line-height: 26px !important;

}
.miniclip{
  height:335px;
  padding-left: 16.6px;
  padding-right: 16.6px;
}
.receip-content{
    height:368px;
    padding-left: 17.5px;
    padding-right: 17.5px;
}
.arrow{
    width: 399px;
    height: 196px;
    padding: 70px;
}
.sectionPadding{padding-top:104px}
.recipt{
  width: 257px;
  height: 257px;
  background-size:cover;
}
.play{width:3em}.name-clip{font-size:medium;padding-top:23px;color:#4a4a4a}.dinner{background:#f7c42a}.colations{background:#ff9f00}.breakfast{background:#ed7161}.meats{background:#bd4243}
.name-receipt{padding-top:10px;color:#fff;font-size:16px;padding-bottom:10px}
section{padding:81px 0 300px!important}
.button,.button:hover{
  width:115px;
  cursor:pointer;
  padding: 3px;
  height: 29px;
  font-family: FuturaStd-Medium;
  font-size: 16px;
  margin-left: 9.4px;
  margin-right: 9.4px;
}
.container-menu{display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row;-ms-flex-pack:distribute;justify-content:center}
.button{border:1px solid #ed7161;border-radius:20px}
.button:hover{background:#ed7161;color:#fff;border:1px solid #ed7161;border-radius:20px}.bg-footer{color:#fff;background-color:#ed7161;padding:100px 0 50px;position:relative}.bg-footer .footer_logo{float:left;width:auto;position:absolute;top:-265px;bottom:0}.bg-footer .left_widget{display:-ms-inline-flexbox;display:inline-flex;padding:100px 0}
.bg-footer .right_widget{padding:75px 0;text-align:left}.bg-footer .wg_main,.blog_container .blog_img,.more_btn,.package_btn{text-align:center}
.bg-footer .footer_caption,.bg-footer .subscribe,.bg-footer .text_wg{color:#fff}
.bg-footer .subscribe,.bg-footer .text_wg{font-size:16px}.bg-footer .subscribe{margin-right:20px;font-family:Colaborate-Regular}
.bg-footer .text_wg{font-family:FuturaStd-Book; font-size: 14px;}.bg-footer .footer_caption{font-size:12px;margin-top:20px;font-family:Colaborate-Medium}
.special-margin {
  margin-left: 11px !important;
}
.bg-footer .footer_icon{
  margin-left: 7.5px;
  width: 25px;
  margin-right: 7.5px;
}.bg-footer .footer_caption::before{border-top:1px solid #fff;display:block;content:'';width:120px;margin:0 auto 42px}
input.form-control1:focus {
    outline: 0px solid #ed7161 !important;
}
.reducePaddingInMovil {
  padding: 50px 0 50px !important;
}
.bg-footer .form-control1{
  height: 42px;
  padding: 13px 77px 13px 19px;
  font-size: 14px;
  border: .5px solid #fff;
  border-radius: 6px;
  min-width: 219px;
  color: #b0bec5;
  }.bg-footer ::-webkit-input-placeholder{color:#b0bec5;font-family:FuturaStd-Book}.bg-footer :-moz-placeholder{color:#b0bec5;font-family:FuturaStd-Book}.bg-footer ::-moz-placeholder{color:#b0bec5;font-family:FuturaStd-Book}.bg-footer :-ms-input-placeholder{color:#b0bec5;font-family:FuturaStd-Book}
  .service-box .service_text,.tm_title{font-family:FuturaStd-Medium}
@media only screen and (max-width:960px){
  .right_container {
    margin-left: 4%;
    padding-top: 9px;
  }
  .custom-row {
    margin-left: 4%;
  }
}

@media only screen and (min-width:769px) and (max-width:1024px){
.bg-footer .container.footer,.bg-footer .right_widget{text-align:left}
.bg-footer .left_widget{padding-bottom:60px}}h1{font-size:36px}h1,h2,h4,p{color:#4a4a4a}.pack_title,.sub_head,.sub_heading{color:#fff}.testimonials{padding:50px 0 80px}
.bg-primary{background-color:#f5f5f5}.tm_title{margin-bottom:120px}
.thumbnail {
  height: inherit !important;
  width: inherit !important;
}
.thumbnail .user_img{position:relative;top:-39px;bottom:0}
.thumbnail .thumb-img{width:118px;margin:0 auto}
.thumbnail .caption{padding:0 9px;position:relative;top: -58px;}
.thumbnail .caption .sub_caption{font-size:15px;font-family:FuturaStd-Book;line-height:15px;margin-top: 29px;}
.blog_caption,.btn-xl-more .link_morebtn,.btn-xl-more .package_session_btn,.thumbnail .caption
.user_name{font-size:18px; margin-top: 50px;margin-bottom: -8px;}
.gallary .gallary_title,.thumbnail .caption .user_name{font-family:FuturaStd-Bold}
.gallary_area,.more_btn{margin-top:80px}
.gallary{padding:100px 0 50px}
.gallary .sub_heading1{font-family:Colaborate-Regular}
.gallary .full-width-img{padding:0}
.more_btn{font-family:Montserrat-Regular}
.btn-xl-more{padding:24px 78px;background-color:#ed7161;border:0;border-radius:0}
.blog_post{padding:0 0 100px}
.blog_container{border-top:2px solid #e5e5e5;margin-top:30px}
.blog_container .blog_img .img.img-responsive{display:inline}
.blog_title{margin-top:120px;font-family:FuturaStd-Bold}.blog_caption{margin-top:30px;font-family:Colaborate-Medium}
.packages{background-image:url(/img/bg-img/apple-bg-img.png);background-size:cover}.packages .pack_title{font-family:FuturaStd-Bold}.packages .sub_heading{font-family:Colaborate-Regular}.package_btn{margin-top:80px;float:left;width:100%;font-family:Montserrat-Regular}


@media only screen and (max-width: 767px) {
  .image-recipe {
    width: 100% !important;
  }
  .hamburger {
    position: absolute;
    right: 0;
    width: 75%;
    background: #ed7161;
    display: none;
    z-index: 4;
    margin-top: -3px;
    -webkit-animation-duration: 0.5s;
    transition:0.5s ease all;
    -moz-transition:0.5s ease all;
  }
  .select {
    height: 30px !important;
  }
  .hamburger >  ul {
    margin-top: 10% !important;
    margin-bottom: 30% !important;
  }
  .hamburger > ul >li > a {
    padding: 3px 0px 0px 3px !important;
    text-align: right !important;
    padding-right: 10px;
  }
  .customHamburgerStyle {
    z-index: 4;
    position: fixed;
    top: 0;
    height: 79px;
    width: 100%;
  }
  .hiddeInMobil {
    display: none;
  }
  .select {
    border-bottom: none !important;
    border-right: 4px solid #f7c42a !important;
  }
  .showMenu {
    display: inline !important;
    height: 1000px;
  }
  .banner_text {
    font-size: 41px !important;
    line-height: 38px !important;
  }
  .custom-height {
    margin-top: 0px !important;
  }
  .service-box {
    margin-bottom: 35px !important;
  }
  .sub_head {
    font-size: 23px !important;
    margin: 0px 0 14px 0px !important;
  }
  .container-menu {
    align-items: center;
  }

  .navbar .navbar-header .navbar-brand img{
    width:145px;
    position: absolute;
    margin: 0 auto;
    top: 9px;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .last-width {
    width: 293px !important;
  }
  .miniclip {
    height: 265px;
  }
  .receip-content {
    height: 334px;
  }
  .reducePaddingInMovil {
    padding: 50px 0 50px !important;
  }
  .list {
    justify-content: initial;
  }
  .list > p {
    line-height: 24px;
    width: 100%;
  }
  .footerAdjustImage {
    margin-top: 170px;
    width: 135px !important;
  }
  .change-row {
    flex-direction: column;
  }
  .group {
    width: 100%;
  }
  .space-group {
    margin-left: 0px;
    margin-right: 0px;
  }
  .carousel-inner >.item >img{
    width: 1024px !important;
    max-width: none !important;
  }
  .change-row {
    flex-direction: column;
  }
  .miniContainer {
    width: 100%;
  }
  .list {
    justify-content: initial;
  }
  .list > p {
    line-height: 15px;
    width: 100%;
  }
  .group {
    width: 100%;
  }
  .column {
    padding-left: 16px;
  }
  .square > img {
    padding-right: 10px;
    padding-left: 0px;
  }
  .serviceContainer {
    margin-top: 0 !important;
  }

  .modal-lg, .video-content, .modal-video {
    width: 100%;
  }
  .listSpecial > .list {
    margin-bottom: 0px;
  }
  .listSpecial > .list > p {
    width: 100% !important;
  }
  .principalContainer {
    flex-direction: column!important;
  }
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .square {
    justify-content: center;
  }
  .color-one ,.color-two{
    width: 100%;
    margin-left: 0px;
  }
  .margin-right-one {
    margin-right: 0px;
    width: 100%;
  }
  .margin-left-one {
    margin-left: 0px;
    width: 100%;
    height: initial !important;
    margin-top: 0 !important;
    border: none;
  }
  .gray-container {
    background: white !important;
  }

  .package {
    padding-top: 32px;
    background: #f5f5f5;
    border: solid 1px #e5e5e5;
  }
  .mini-square {
    background: #f5f5f5;
    border: none;
  }
  .removeRightData {
    padding-right: 5px !important;
  }
  .description {
    margin-top: 40px;
  }
  .recipeContent > .recipt {
    width: 100% !important;
    height: 201px!important;
  }
  .video-content {
    margin-top: 50px;
  }
  .backgroundDialogVideo {
    background: white;
  }
  button.videoCloseModal {
    z-index: 5;
    position: absolute !important;
    top: -50px;
  }
  .modal-dialog {
    margin:0px;
  }
  .recipe-content {
    height: 100%;
  }
  .recipeContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
  }
  .recipeDescription {
    width: 100%;
  }
  .space-group {
    margin-left: 0px;
    margin-right: 0px;
  }
  .carousel-inner >.item >img{
    width: 1024px !important;
    max-width: none !important;
  }
  .client {
    margin-bottom: 65px;
  }
  .sub-header {
    width: 300px;
  }
  .blog_img {
    margin-bottom: 25%;
  }
  .flex_container {
    flex-wrap: wrap;
  }
  .carousel-control .glyph_right {
      left: 0px !important;
  }
  .navbar .navbar-nav {
    width: 100%;
    text-align: center;
    height: auto;
  }
  .overflow {
    overflow: auto;
  }
  .mini-square {
    width: 100%;
  }

  .package {
    width: 100%;
    margin-bottom: 25px;
  }
  .addMarginBottom {
    margin-bottom: 125px;
  }

  .images {
    margin: 0 auto;
  }
  .notShow {
    display: none;
  }
  .lastSection {
    padding-bottom: 100px;
  }

  .package-container {
    flex-direction: column;
  }
  .sectionTwo {
    display: flex;
    flex-direction: column;
    line-height: 17px;
    margin: 0px auto 0px auto;
    font-size: 17px;
    width: auto;
    font-family: FuturaStd-Medium;
    color: #4a4a4a;
    padding-top: 59px;
    padding-left: 0px;
    padding-right: 27px;
    padding-bottom: 33px;
    justify-content: center;
  }
  .parallaxContain {
    line-height: 16px;
    margin: -46px auto 0px auto;
    border: solid 1px #e5e5e5;
    background: white;
    font-size: 16px;
    text-align: initial;
    width: auto;
    font-family: FuturaStd-Medium;
    color: #4a4a4a;
    padding-top: 41px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 33px;
  }
  .select {
    height: auto;
  }
  .blog_img, .blog-img {
    width: 250px !important;
    height: 250px !important;
  }
  .blog_img > h4{
    width: auto !important;
  }
  .blog_caption {
    margin-top:10px !important;
  }
  .button {
    margin-top: 10px !important;
  }
  .inMobilCenterTitle {
    margin-top: -140px;
  }
  .container-menu {
      -ms-flex-direction: column !important;
      flex-direction: column !important;
  }

  .button:hover {
      width: inherit;
  }
  .bg-footer .container.footer,.bg-footer .right_widget{text-align:left}
  .bg-footer .footer_logo{position:absolute;top:-90px}
  .left_container {
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: row;
      padding-top: 34px !important;
  }
  .custom-row {
      display: flex;
      flex-direction: column;
      margin-left: 0px;
  }
  .center_container {
      margin-top: 10px;
  }
  .right_container {
      margin-left: 0px;
      padding-top: 9px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .footerAdjustImage {
    margin-top: 170px;
    width: 135px !important;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
      border-color: #ed7161;
  }
  .reducePaddingInMovil {
    padding: 50px 0 50px !important;
  }
  .bg-footer .left_widget{padding-bottom:60px}
  .hiddeOnMobil {
    display: none;
  }

  .mobilLogoAdjust {
    top: 3px !important;
    margin: 0 !important;
    left: 30px !important;
    right: none !important;
  }
  .hamburgerMenuIcon {
    margin-bottom: 10px;
  }
  #contact {
    padding-right: 25px;
    padding-left: 25px;
  }
  .verticalHouse {
    width: 70%;
  }
  .pointer.slick-arrow-main {
    right: 5%;
  }
  .miniImage {
    width: 130px;
    float: right;
    margin-top: 20px;
}

}
@media only screen and (max-width: 553px) {
  .hiddeOnMobil {
    display: inline !important;
  }
}
