{% load static from staticfiles %}
<script >
  //Modulate

  $(document).ready(function(){
    $('.carrousel-slick').slick({
      accessibility: true,
      arrows: true,
      prevArrow: '',
      autoplay: true,
      centerMode: true,
      centerPadding: '0px',
      lazyLoad: 'ondemand',
      nextArrow: '<img class="pointer.slick-arrow-main glyph_l pointer" src="{% static 'img/icons/right-arrow-64.png' %}" />'
    });
    $('.carrousel-slick').slick('refresh');
  });
</script>

<div class="carrousel-slick">

  <div style="background: url({% static 'img/slider/group-3@3x.png' %});height:479px;background-size: cover;">
    <div class="backdrop"></div>
    <div class="verticalHouse">
      <h1 class="banner_text up"> Olvídate de las dietas <br> y activa tu metabolismo </h1>
      <p class="sub_head up"> de una forma saludable y sostenible </p>
      <a href="/contacto" class="up read_more_btn">Agenda tu cita</a>
    </div>
  </div>
  <div style="background: url({% static 'img/slider/carrousel_1.jpg' %});height:479px;background-size: cover;">
    <div class="verticalHouse">
      <h1 class="banner_text up"> No se trata de comer menos</h1>
      <p class="sub_head up"> se trata de comer mejor </p>
      <a href="/contacto" class="up read_more_btn">Agenda tu cita</a>
    </div>
  </div>
  <div style="background: url({% static 'img/slider/carrousel_2.jpg' %});height:479px;background-size: cover;">
    <div class="verticalHouse">
      <h1 class="banner_text up"> Crea hábitos saludables</h1>
      <p class="sub_head up"> no restricciones</p>
      <a href="/contacto" class="up read_more_btn">Agenda tu cita</a>
    </div>
  </div>
  <div style="background: url({% static 'img/slider/carrousel_3.jpg' %});height:479px;background-size: cover;">
    <div class="verticalHouse">
      <h1 class="banner_text up"> Tu cuerpo merece lo mejor</h1>
      <a href="/contacto" class="up read_more_btn">Agenda tu cita</a>
    </div>
  </div>
  <div style="background: url({% static 'img/slider/carrousel_4.jpg' %});height:479px;background-size: cover;">
    <div class="verticalHouse">
      <h1 class="banner_text up"> Nunca es tarde para cambiar tu estilo de vida </h1>
      <a href="/contacto" class="up read_more_btn">Agenda tu cita</a>
    </div>
  </div>
  <div style="background: url({% static 'img/slider/carrousel_5.jpg' %});height:479px;background-size: cover;">
    <div class="verticalHouse">
      <h1 class="banner_text up"> Aprende a comer y dile adiós a las dietas </h1>
      <a href="/contacto" class="up read_more_btn" style="width:185px !important;">Paquetes y servicios</a>
    </div>
  </div>
  <!--<div style="background: url({% static 'img/slider/carrousel_1.jpg' %});">
    <div class="backdrop"></div>
    <div class="imagesData" ></div>
    <div class="verticalHouse">
      <h1 class="banner_text up"> No se trata de comer menos</h1>
      <p class="sub_head up"> se trata de comer mejor </p>
      <a href="/contacto" class="up read_more_btn">Agenda tu cita</a>
    </div>
  </div>-->
</div>
