{% load static from staticfiles %}
<!-- footer -->
<script>
  function sendNewsletterEmail() {
    var myform = document.getElementById("newsLetter");
    var fd = new FormData(myform );
    $.ajax({
      url: "/newsletter/",
      data: fd,
      cache: false,
      processData: false,
      contentType: false,
      type: 'POST',
      success: function (result) {
        // do something with the result
        event.preventDefault();
        if (result === "subscribed") {
          document.getElementById("newsLetter").reset();
          document.querySelector('#notifications').text = 'Listo, espera las últimas noticias';
        } else {
          document.querySelector('#notifications').text = 'Ha sucedido un error, vuelve a intertarlo en unos momentos';
        }
        document.querySelector('#notifications').open();
      }
    });
  }
</script>
<paper-toast id='notifications'></paper-toast>
<footer class="bg-footer myconatiner reducePaddingInMovil">
	<div class="footer_logo">
		<img class="logo_img footerAdjustImage" src="{% static 'img/footer-img/group-20@3x.png'%}">
	</div>
	<div class="footer">
		<div class="custom-row">
			<div class="left_container">
				<p class="text_wg"> Síguenos en: </p>
				<a href="https://www.facebook.com/Nutri%C3%B3loga-Alejandra-G-P%C3%A1ez-925726230813208/" target='_blank'><img class="footer_icon special-margin" src="{% static 'img/icons/icon@3x.png'%}"> </a>
				<a href="https://www.instagram.com/nutriologa.alegpaez/" target='_blank'><img class="footer_icon" src="{% static 'img/icons/group-3@3x.png'%}"> </a>
			</div>
			<div class="center_container">
				<div class="wg_main">
					<img class="footer_icon2 logo_img_secondary" src="{% static 'img/footer-img/logo-bco-08@3x.png'%}">
					<p class="footer_caption">  © Alejandra Gutiérrez 2017 todos los <br> derechos reservados </p>
				</div>
			</div>
			<div class="right_container">
				<div class="form_head">
					<p class="subscribe"> Suscríbete a nuestro Newsletter </p>
				</div>
				<div class="footer_form">
					<form class="form footer_form" onsubmit="sendNewsletterEmail(); return false;" id='newsLetter'>
						<div class="input_text">
							<input required type="form_sub" class="form-control1" id="correo" placeholder="Correo electrónico">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</footer>
