{% extends "base.html" %}
{% load static from staticfiles %}
{% block meta %}
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}

<!-- section 1 services -->
<section>
    <script>
      function next(a) {
        $('#myModal-' + a).modal('hide');
        $('#myModal-' + (a + 1)).modal('show');
      };
    </script>
    <div class="container custom_container">
        <div class="row">
			<!-- section part 1 -->
            <div class="col-lg-8 col-md-offset-2 text-center">
              <div class="receipts-container">
                 <div class="title">Recetas</div>
                 <div class="container-menu">
                   {% if request.get_full_path == '/recetas/' %}
                     <a href="{% url 'landing:recetas' %}" class="button menuActive">Todas</a>
                   {% else %}
                     <a href="{% url 'landing:recetas' %}" class="button">Todas</a>
                   {% endif %}

                   {% if request.get_full_path == '/recetas/?u=breakfast' %}
                     <a href="{% url 'landing:recetas' %}?u=breakfast" class="button menuActive">Desayunos</a>
                   {% else %}
                     <a href="{% url 'landing:recetas' %}?u=breakfast" class="button">Desayunos</a>
                   {% endif %}

                   {% if request.get_full_path == '/recetas/?u=collation' %}
                     <a href="{% url 'landing:recetas' %}?u=collation" class="button menuActive">Colaciones</a>
                   {% else %}
                     <a href="{% url 'landing:recetas' %}?u=collation" class="button">Colaciones</a>
                   {% endif %}

                   {% if request.get_full_path == '/recetas/?u=meal' %}
                     <a href="{% url 'landing:recetas' %}?u=meal" class="button menuActive">Comidas</a>
                   {% else %}
                     <a href="{% url 'landing:recetas' %}?u=meal" class="button">Comidas</a>
                   {% endif %}

                   {% if request.get_full_path == '/recetas/?u=dinner' %}
                     <a href="{% url 'landing:recetas' %}?u=dinner" class="button menuActive">Cenas</a>
                   {% else %}
                     <a href="{% url 'landing:recetas' %}?u=dinner" class="button">Cenas</a>
                   {% endif %}
                 </div>
              </div>
            </div>

            <div class="col-lg-10 col-md-offset-1 text-center sectionPadding">
              <div class="wrap">
                {% for recipe in recipes%}
                  <div class="receip-content" data-toggle="modal" data-target="#myModal-{{forloop.counter}}">
                    <div class="recipt" style="background-image:URL('{{recipe.image.url}}')">
                    </div>
                    {% if recipe.category == 'breakfast'%}
                    	<div class="name-receipt breakfast"><img class="smallIcon" src="{% static 'img/receipts/breakfast.png'%}"/>{{recipe.title}}</div>
    								{% elif recipe.category == 'collation' %}
                      <div class="name-receipt colations"><img class="smallIcon" src="{% static 'img/receipts/colations.png'%}"/>{{recipe.title}}</div>
                    {% elif recipe.category == 'dinner' %}
                      <div class="name-receipt dinner"><img class="smallIcon" src="{% static 'img/receipts/snack.png'%}"/>{{recipe.title}}</div>
                    {% elif recipe.category == 'meal' %}
                      <div class="name-receipt meats"><img class="smallIcon" src="{% static 'img/receipts/meats.png'%}"/>{{recipe.title}}</div>
    								{% endif %}
                  </div>
                  <div class="modal fade" id="myModal-{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content recipe-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <div class='recipeContent'>
                            <div class="recipt" style="background-image:URL('{{recipe.image.url}}')"></div>
                            <div class='recipeDescription'>
                              <div class="description">
                                <div>{{recipe.description}}</div>
                                <div><img onclick="next({{forloop.counter}})" class="glyph_l" src="{% static 'img/icons/path-2.svg' %}" /></div>
                              </div>
                              {% if recipe.category == 'breakfast'%}
                              	<div class="name-receipt breakfast"><img class="smallIcon" src="{% static 'img/receipts/breakfast.png'%}"/>{{recipe.title}}</div>
              								{% elif recipe.category == 'collation' %}
                                <div class="name-receipt colations"><img class="smallIcon" src="{% static 'img/receipts/colations.png'%}"/>{{recipe.title}}</div>
                              {% elif recipe.category == 'dinner' %}
                                <div class="name-receipt dinner"><img class="smallIcon" src="{% static 'img/receipts/snack.png'%}"/>{{recipe.title}}</div>
                              {% elif recipe.category == 'meal' %}
                                <div class="name-receipt meats"><img class="smallIcon" src="{% static 'img/receipts/meats.png'%}"/>{{recipe.title}}</div>
              								{% endif %}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
        </div>
    </div>
</section> <!-- /section 1 services -->
{% endblock %}
