{% extends "base.html" %}
{% load static from staticfiles %}
{% block meta %}
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}

<!-- section 1 services -->
<section class="removeBottom reducePaddingInMovil">
    <div class="container custom_container">
        <div class="row overflow">
			<!-- section part 1 -->
            <div class="text-center">
              <div class="receipts-container">
                 <div class="title">Servicios</div>
              </div>
            </div>

            <div class="serviceContainer">
              <div class="square color-one">
                <img src="{% static 'img/icons/computer.svg'%}">
                <div>
                  <p class="title-offert">Asesoria en línea</p>
                  <p class="title-small-offert">$400</p>
                </div>
              </div>
              <div class="square color-two">
                <img src="{% static 'img/icons/doctor.svg'%}">
                <div>
                  <p class="title-offert">Consulta Presencial</p>
                  <p class="title-small-offert">$500</p>
                </div>
              </div>
            </div>
            <div class="serviceContainer removeTop">
              <div class="square column margin-right-one">
                <div class="list">
                  <img src="{% static 'img/icons/headphones.svg'%}">
                  <p>La consulta será <span class="stronger">una vez al mes</span> o <span class="stronger">cada 15 días</span> vía Skype, o por teléfono. Incluye:</p>
                </div>
                <div class="list">
                  <img src="{% static 'img/icons/diagnost.svg'%}">
                  <p><span class="stronger">Diagnóstico nutricional</span> por medio de la historia clínica, estilo de vida y hábitos alimenticios.</p>
                </div>
                <div class="list">
                  <img src="{% static 'img/icons/listonly.svg'%}">
                  <p><span class="stronger">Plan de alimentación</span> totalmente personalizado que se adapte a las necesidades del cliente.</p>
                </div>
                <div class="list">
                  <img src="{% static 'img/icons/whatsapp-red.svg'%}">
                  <p><span class="stronger">Atención personalizada</span> por celular o Whatsapp para dudas y ayuda.</p>
                </div>
              </div>
              <div class="square column listSpecial margin-left-one">
                <div class="list">
                  <img src="{% static 'img/icons/mesure.svg'%}">
                  <p><span class="stronger">Análisis de composición corporal</span> mediante medidas antropométricas + medidas de pliegues cutáneos (opcional)</p>
                </div>
                <div class="list">
                  <img src="{% static 'img/icons/diagnost.svg'%}">
                  <p><span class="stronger">Diagnóstico nutricional</span> por medio de la historia clínica, estilo de vida y hábitos alimenticios.</p>
                </div>
                <div class="list">
                  <img src="{% static 'img/icons/listonly.svg'%}">
                  <p><span class="stronger">Plan de alimentación</span> personalizado que se adapte a las necesidades del cliente.</p>
                </div>
                <div class="list">
                  <img src="{% static 'img/icons/brain.svg'%}">
                  <p><span class="stronger">Dinámicas</span> para reforzar aprendizajes (en consultas posteriores)</p>
                </div>
                <div class="list">
                  <img src="{% static 'img/icons/whatsapp.svg'%}">
                  <p><span class="stronger">Atención personalizada</span> por celular o Whatsapp para dudas y ayuda.</p>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>
<div class="container gray-container">
  <div>
     <div class="title margin-top-custom">Paquetes</div>
  </div>
  <div class="package-container">
    <div class="package">
      <img src="{% static 'img/icons/virtual.svg'%}"/>
      <div class="mini-square">
        <p class="bold">3 asesorías en línea</p>
        <p class="minifont">(incluyen plan de alimentación)</p>
        <p class="amount">$1000</p>
      </div>
    </div>
    <div class="package">
      <img src="{% static 'img/icons/list.svg'%}"/>
      <div class="mini-square">
        <p class="bold">4 consultas presenciales</p>
        <p class="minifont">(incluyen plan de alimentación)</p>
        <p class="amount">$1700</p>
      </div>
    </div>
    <div class="package">
      <img src="{% static 'img/icons/super.svg'%}"/>
      <div class="mini-square">
        <p class="bold">4 consultas presenciales + asesoría en el súper</p>
        <p class="amount special-amount">$2000</p>
      </div>
    </div>
  </div>
  <div class="addMarginBottom">
     <button class="buttonRecipe">Agendar cita</button>
  </div>
</div>
{% endblock %}
